/* General Css start */
/* 1 rem = 16px */

*{
    margin: 0 0;
    padding: 0 0;
}
.btn {
width: 300px;
height: 50px;
padding: 0.75rem 1.5rem;
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 150%;
/* letter-spacing: 2px; */
text-transform: uppercase;
color: #FFFFFF;
border-width: 2px;
border-style: solid;
border-radius: 0.5rem;

}
.btn_red{
background: #DE2E54;
border: 2px solid #DE2E54;
}
.btn_transparent{
background: transparent;
border: 2px solid #fff;

}
.transparent {
    background-color: aqua;
    padding: 20px;
}
.btn_red:hover{
background: #FFFFFF;
border: 2px solid #DE2E54;
color: #DE2E54;
}
.btn_transparent:hover{
background: #DE2E54;
border: 2px solid #DE2E54;
}
/* General Css finish */