/* General Css start */
/* 1 rem = 16px */

*{
    margin: 0 0;
    padding: 0 0;
    font-family: OSC;
}
@font-face {
    font-family: OS;
    src: url("./need/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family: OSC;
    src: url("./need/fonts/OpenSans_Condensed-Light.ttf");
}
.btn {
    /* width: 300px;
    height: 50px; */
    padding: 0.75rem 1.5rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%;
    /* letter-spacing: 2px; */
    text-transform: uppercase;
    color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5rem;

}
.btn_red, .btn_transparent:hover{
    background: #DE2E54;
    border: 2px solid #DE2E54;
}
.btn_transparent{
    background: transparent;
    border: 2px solid #fff;

}
.transparent {
    position: absolute;
    margin-top: 2117px;
    background-color: #0EB4C1;;
    padding: 20px;
}
.btn_red:hover{
    background: #FFFFFF;
    border: 2px solid #DE2E54;
    color: #DE2E54;
}
.section_title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #fff;
}
.text_black{
    color: #000;
}
a {
    text-decoration: none;
}
/* General Css finish */

/* Navbar CSS start */

nav {
    padding: 24px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_wrap a{
    display: flex;
    align-items: center;
}
.logo_wrap span {
    font-family: 'OS';
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 1rem;
    /* color: #000; */
}
.menu {
    display: flex;
    list-style: none;

}
.menu li {
    margin-left: 2rem;
    font-family: 'OS';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.text_black {
    color: #000;
}
.text_white{
    color: #fff;
}


/* Navbar CSS finish */

/*Footer Css start */

footer {
    position: absolute;
    margin-top: 2370px;
    background-color: #222;
    padding: 24px 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

/*Footer Css finish */

/* main Css start */
section{
    margin-top: 0;
}
.register {
    width: 1540px;
    height: 533px;
    left: 0px;
    top: 98px;
    background: #0EB4C1;
}
.register p{
    position: absolute;
    width: 440px;
    height: 108px;
    left: 170px;
    top: 320px;
    font-family: OSC;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
}
h1 {
    position: absolute;
    width: 500px;
    height: 86px;
    left: 170px;
    top: 218px;

    /* Big heading */

    font-family: 'OSC';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */
    color: #FFFFFF;
}
.name p{
    position: absolute;
    width: 440px;
    height: 108px;
    left: 170px;
    top: 320px;

    font-family: 'OS';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    color: #FFFFFF;
}
main button{
    position: absolute;
    width: 189px;
    height: 47px;
    left: 170px;
    top: 464px;
}
main img {
    position: relative;
    width: 423px;
    height: 504px;
    left: 847px;
    top: 29px;
    right: 170px;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    position: absolute;
    width: 864px;
    height: 1040px;
    left: 288px;
    top: 850px;
}
.name p{
    position: absolute;
    font-size: 36px;
    font-weight: 900;
    width: 133px;
    height: 43px;
    left: 653px;
    top: 751px;
    color: #222;
}
.service img{
    width: 215px;
    height: 215px;
    border-radius: 24px;
}
.image1{
    position: absolute;
    top: 0px;
}
.service1 span{
    font-family: OSC;
    position: absolute;
    top: 25.5px;
    left: 264px;
    width: 67px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;

    color: #222222;

}
.service1 p{
    font-family: OS;
    position: absolute;
    top: 78.5px;
    left: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.service2 span{
    font-family: OSC;
    position: absolute;
    top: 317.5px;
    left: 264px;
    width: 155px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #222222;

}
.service2 p{
    font-family: OS;
    position: absolute;
    top: 370.5px;
    left: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.image2{
    position: absolute;
    top: 280px;
}
.service3 span{
    font-family: OSC;
    position: absolute;
    top: 573.5px;
    left: 264px;
    width: 195px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #222222;

}
.service3 p{
    font-family: OS;
    position: absolute;
    top: 626.5px;
    left: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.image3{
    position: absolute;
    top: 560px;
}
.service4 span{
    font-family: OSC;
    position: absolute;
    top: 877.5px;
    left: 264px;
    width: 195px;
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #222222;

}
.service4 p{
    font-family: OS;
    position: absolute;
    top: 930.5px;
    left: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.image4{
    position: absolute;
    top: 840px;
}
.register button{
    position: absolute;
    width: 189px;
    height: 47px;
    left: 626px;
    top: 1950px;

    background: #DE2E54;
    border: 2px solid #DE2E54;
    border-radius: 8px;
}
/* main Css finish */